@font-face {
  font-family: 'Gotham Black';
  src: url('~assets/fonts/Gotham-Black.woff2') format('woff2'),
      url('~assets/fonts/Gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('~assets/fonts/Gotham-Book.woff2') format('woff2'),
      url('~assets/fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Md';
  src: url('~assets/fonts/Gotham-Medium.woff2') format('woff2'),
      url('~assets/fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('~assets/fonts/Gotham-Ultra.woff2') format('woff2'),
      url('~assets/fonts/Gotham-Ultra.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('~assets/fonts/Gotham-Bold.woff2') format('woff2'),
      url('~assets/fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$font: 'Gotham Book', sans-serif;
$fontmd: 'Gotham Md', sans-serif;
$fontb: 'Gotham Bold', sans-serif;
$fontbl: 'Gotham Black', sans-serif;
$fontul: 'Gotham Ultra', sans-serif;
$blue: #1F93D2;

body {
  font-family: $font;
  color: #3C3C3C;
}

.wrap-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .container, .container-fluid{
      height: 100%;
      position: relative;
  }
}

.btn-azul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5rem;
  background-color: $blue;
  border-radius: 0;
  transition: all .4s;
  color: #fff;
  font-size: 1.875rem;
  padding: .2rem .75rem;
  width: 100%;
  border-radius: 4.25rem;

  &:active, &:hover{
      background-color: #35BBFA;
      color: #fff;
  }
}

.loader {
  border: .4rem solid #fff; /* Light grey */
  border-top: .4rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 1300px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1240px;
  }
}

@media (min-width: 1400px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1340px;
  }
}

@media only screen and (max-width: 1699px) {
  html {
    font-size: 15.5px;
  }
}

@media only screen and (max-width: 1599px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1499px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1399px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1299px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1199px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1099px) {
  html {
    font-size: 9.5px;
  }
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 7.5px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  .btn-azul {
    font-size: .945rem;
    height: 3.438rem;
  }

  .loader {
    border: .15rem solid #fff;
    border-top: .15rem solid #3498db;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 15.5px;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (max-width: 330px) {
  html {
    font-size: 14px;
  }
}


